header{
  background-color: rgb(131, 0, 0);
  display: flex;
  justify-content: space-between !important;
  height: 4rem;
}

header .favoritos{
  color: white;
  text-decoration: none;
  background-color: rgb(214, 87, 13);
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  font-weight: bold;
}

header .logo{
  font-size: 1.7rem;
  text-decoration: none;
  color: white;
}